torch
torchvision
torchaudio
transformers>=4.21.0
diffusers
accelerate>=0.11.0
opencv-python
scikit-image
pandas
numpy
tqdm
Pillow>=10.0,<12.0
requests
huggingface_hub
peft
scikit-learn
tabulate
matplotlib
gdown
mtcnn
