torch
torchvision
torchaudio
transformers
diffusers
accelerate
opencv-python
scikit-image
pandas
numpy
tqdm
Pillow
requests
huggingface_hub
peft
scikit-learn
tabulate
matplotlib
gdown
# Install semdiffusers separately in Colab with:
# pip install --no-build-isolation ./semantic-image-editing-main/semantic-image-editing-main
